.offer {
  display: flex;
  align-items: center;
}
.offer-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offer-per {
  font-size: 12px;
  font-weight: 700;
  background-color: #d32f2f;
  color: #ffff;
  padding: 2.25px 4px 0 4px;
  border-radius: 16px;
  width: 26px;
}
